.ConnectContainer {
    display: flex;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    align-items: center;
}

.ConnectMain {
    width: 30vw;
    padding: 20px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0px 5px 16px rgba(0,0,0,0.2);
    margin-top: 25px;
}

.ConnectButton {
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 700;
    border-radius: 20px;
    cursor: pointer;
}
